<ion-header>
  <ion-toolbar class='bg_transp' lines="none">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Se connecter</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <strong>En vous connectant vous accepter <a class="sign-up-link" routerLink="/conditions">les conditions d'utilisation</a></strong>
      <ion-button class="ion-margin" color="success" expand='block' (click)="signWithGoogle()">
        <ion-icon name="logo-google"></ion-icon>
        <span class="ion-margin">Google</span>
      </ion-button>
      <strong>N'avez - vous pas de compte ? <a class="sign-up-link" routerLink="/register">S'inscrire</a></strong>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" routerLink="/profile">Profile</ion-button>
</ion-content>
