<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
        <ion-segment value="inonndation">
          <ion-segment-button value="ionndation">Inonndation</ion-segment-button>
          <ion-segment-button value="incendie">Incendie</ion-segment-button>
          <ion-segment-button value="secheresse">Secheresse</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>

  <!-- List of Text Items -->
  <ion-list>
    <ion-list-header>Alertes Recente</ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/images/bougouni.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Bougouni</h2>
        <h3>Inonndation</h3>
        <p>La pluie bat son plein et les caniveaux sont de plus en plus plein</p>
      </ion-label>
    </ion-item>

  </ion-list>
    <ion-fab horizontal="end" vertical="center" slot="fixed">
        <ion-fab-button routerLink="/alertform" color="primary ">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
