<ion-header>
  <ion-toolbar lines="none">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-title>Alertes</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>



    <swiper [autoplay]="true" [keyboard]="true" [scrollbar]="true" [zoom]="true">
      <ng-template swiperSlide><img
          src="https://firebasestorage.googleapis.com/v0/b/changement-climatique-3e1a1.appspot.com/o/assetes%2FiPhone%C2%A013%2C%2012%20Pro%20Max%20%E2%80%93%201.png?alt=media&token=62929e6b-6695-4fb9-a918-831ad4348231"
          alt="">
      </ng-template>
      <ng-template swiperSlide><img
          src="https://firebasestorage.googleapis.com/v0/b/changement-climatique-3e1a1.appspot.com/o/assetes%2FiPhone%C2%A013%2C%2012%20Pro%20Max%20%E2%80%93%201.png?alt=media&token=62929e6b-6695-4fb9-a918-831ad4348231"
          alt=""></ng-template>
      <ng-template swiperSlide><img
          src="https://firebasestorage.googleapis.com/v0/b/changement-climatique-3e1a1.appspot.com/o/assetes%2FiPhone%C2%A013%2C%2012%20Pro%20Max%20%E2%80%93%201.png?alt=media&token=62929e6b-6695-4fb9-a918-831ad4348231"
          alt=""></ng-template>
      <ng-template swiperSlide><img
          src=""
          alt=""></ng-template>
      <ng-template swiperSlide><img
          src=""
          alt="">
      </ng-template>


    </swiper>


  <audio class="player" controls>
    <source
      src="https://firebasestorage.googleapis.com/v0/b/changement-climatique-3e1a1.appspot.com/o/assetes%2F%C3%80%20ton%20appel%20Mali%20%E2%80%93%20Hymne%20du%20Mali%20(64%20kbps).mp3?alt=media&token=a97aa179-1c64-4277-a266-12f336d6a662">
  </audio>
  <ion-item class="ion-margin">
    <ion-text class="text-justify" style="font-size: 30
    px;">Vous étes temoin d'une alerte signaler ici.</ion-text>
  </ion-item>
  <ion-buttons class="ion-margin">
    <ion-fab vertical="end" horizontal="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add" routerLink="/alertform"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-buttons>
</ion-content>
