<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button>
        </ion-back-button>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="search-outline" color="dark"></ion-icon>
          </ion-button>
          <ion-button class="notification">
            <ion-icon name="notifications-outline" color="dark"></ion-icon>
            <span>&nbsp;</span>
          </ion-button>
        </ion-buttons>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

  <!-- List of Text Items -->
  <ion-list>
    <ion-list-header>Alertes Recente</ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/images/bougouni.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Bougouni</h2>
        <h3>Inonndation</h3>
        <p>La pluie bat son plein et les caniveaux sont de plus en plus plein</p>
      </ion-label>
    </ion-item>

  </ion-list>
    <ion-fab horizontal="end" vertical="center" slot="fixed">
        <ion-fab-button routerLink="/alertform" color="primary ">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
